body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.sidebar {
    width: 250px;
    background-color: #000000;
    color: hsl(0, 0%, 100%);
    padding: 20% 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    transform: translateX(0);
    transition: transform 0.3s ease;
}

.sidebar.active {
    transform: translateX(-100%);
}

.name{
    color: #ffffff;
    /* position: fixed; */
    left: 20px;
    /* background-color: #575757; */
    padding: .3em;
    /* border-radius: 10px; */
    
}
.profile {
    text-align: center;
    cursor: pointer;
    position: relative;
}

.profile-btn {
    position: fixed; /* Fix position */
    top: 20px; /* Adjust as needed */
    left: 80px; /* Adjust as needed */
    z-index: 1100; /* Ensure it's above the sidebar */
    cursor: pointer;
}

.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 30%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.profile-img:hover {
    transform: scale(1.05);
}

.profile h1 {
    margin: 0;
    font-size: 1.2em;
}

.nav {
    list-style: none;
    padding: 0;
    text-align: center;
}

.nav li {
    margin: 10px 0;
}

.nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.nav a:hover {
    background-color: #575757;
}

.content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    box-sizing: border-box;
}

/* .content-section {
    display: none;
} */

.content-section h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
    margin-top: 0;
    color: #333;
}

/*update Test*/
.content-section {
    display: none;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 85%;
    margin: auto;
    text-align: center;
}

.content-section p {
    color: #555;
    line-height: 1.6;
}

.content-section .links{
    margin-top: 20px;

}


#about .links a {
    text-decoration: none;
    color: #007bff;
    margin: 0 10px;
    font-weight: bold;
}

#about .links a:hover {
    text-decoration: underline;
}


#CurResearch a {
    text-decoration: none;
    color: #007bff;
    margin: 0 5px;
    font-weight: bold;
}

#CurResearch a:hover {
    text-decoration: underline;
}


/*test*/
#research {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#research h2 {
    margin-top: 0;
    color: #333;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.grid-item {
    background-color: #f8f8f8;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.grid-item img, .grid-item video {
    width: 100%;
    height: auto;
    display: block;
}

.grid-item .content {
    padding: 10px;
}

.grid-item .content h3 {
    margin: 0;
    color: #333;
}

.grid-item:hover {
    transform: scale(1.05);
}





/* Responsive Styles */
@media (max-width: 768px) {
    .name{
        color: #ffffff;
        position: relative;
        left: 25%;  
        width: 100%;    
    }
    .content.slide-up {
        transition: transform 0.3s ease;
        transform: translateY(-150px); /* Adjust value to control how much it slides up */
    }
    .container {
        transition: transform 0.3s ease; /* Smooth transition for slide effects */
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        height: auto;
        padding: 10px;
    }

    .content {
        padding: 10px;
    }
    .profile-btn {
        left: 20px;
    }
}

@media (max-width: 480px) {
    .name{
        color: #ffffff;
        position: relative;
        left: 25%;  
        width: 100%;    
    }
    .profile-img {
        width: 80px;
        height: 80px;
    }

    .profile h1 {
        font-size: 1em;
    }

    .nav a {
        font-size: 1em;
        padding: 6px;
    }
    .profile-btn {
        left: 10px;
    }
}
